<body>
  <main class="main-content">
    <!-- Profile Section -->
    <section id="home" class="profile-section">
      <div class="container">
        <div class="person-container">
          <div class="person-content">
            <div class="person-image">
              <img
                style="display: block; margin: 0 auto"
                src="assets/sbm.enc"
                alt="Profile Image"
              />
            </div>
            <div class="person-details">
              <h2>Dr. Satyabrata Maity</h2>
              <p>
                Passionate researcher in AI and NLP, dedicated to advancing
                knowledge in natural language understanding.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About Me Section -->
    <section id="about-me" class="about-me-section">
      <div class="container">
        <div class="about-me-content">
          <div class="about-me-details">
            <h2>About Me</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              sagittis semper tellus, eget sagittis metus rhoncus eu. Vestibulum
              varius ex eu sapien aliquet, vel venenatis nisi eleifend. Fusce
              vitae pharetra risus. In hac habitasse platea dictumst. Proin ac
              libero mauris. Cras a tortor velit.
            </p>
            <p>
              Nullam id nunc augue. Proin convallis est eget augue interdum, nec
              convallis arcu tincidunt. Integer ac tincidunt libero. Duis
              dictum, lorem sed euismod mattis, orci quam scelerisque mauris, id
              fringilla magna lorem et neque.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
