<nav class="navbar">
  <div class="container">
    <a href="#" class="logo">SBM</a>
    <input type="checkbox" id="navbar-toggle" class="navbar-toggle" />
    <label for="navbar-toggle" class="navbar-toggle-label">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="navbar-menu">
      <li><a href="#home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/research">Research-Projects</a></li>
      <li><a routerLink="/publication">Publications</a></li>
      <li><a routerLink="/Skills">Skills-Expertise</a></li>
      <li><a routerLink="/collab">Collaborations</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
