<body class="center-content">
  <main class="main-content">
    <!-- Profile Section -->
    <section id="home" class="profile-section">
      <div class="container">
        <div class="person-container">
          <div class="person-content">
            <div class="person-image">
              <img
                class="potfolio-image"
                style="display: block; margin: 0 auto"
                src="assets/sbm.enc"
                alt="Profile Image"
              />
            </div>
            <div class="person-details">
              <h2>Dr. Satyabrata Maity</h2>
              <p>
                Passionate researcher in AI and NLP, dedicated to advancing
                knowledge in natural language understanding.
              </p>
              <div class="social-links">
                <a
                  href="https://github.com/your_github_username"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="https://imgs.search.brave.com/0cgtPbRhAyOerzoF87WD0G4bo4LWCk7P0o9_vytL-Ko/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy85/LzkxL09jdGljb25z/LW1hcmstZ2l0aHVi/LnN2Zw"
                    alt="GitHub"
                  />
                </a>
                <a
                  href="https://linkedin.com/in/your_linkedin_username"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="https://imgs.search.brave.com/O8EFpP3y8aeJ6RVxZXLzbWWPysLY8b0uo0Ty_VSHUKU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jZG4w/Lmljb25maW5kZXIu/Y29tL2RhdGEvaWNv/bnMvc2hpZnQtbG9n/b3R5cGVzLzMyL0xp/bmtlZGluLTEyOC5w/bmc"
                    alt="LinkedIn"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="button-container">
      <button>Know More</button>
      <button>Contact Me</button>
    </div>
  </main>
</body>
